/*Reset*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html,
body{
  height: 100%;
  font-family: "Ubuntu";
  background-color: rgb(125, 127, 130);
  color: aliceblue;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  font-size: 40px;
  text-align: center;
  margin: 50px 0 50px 0;
  color: #000;
}
.main {
  flex: 1 1 auto;
}
.main__header {
  text-align: center;
  font-size: 28px;
  margin: 0 0 50px 0;
}
.main__list {
  padding: 0 10px;
  font-size: 20px;
}
.main__list li{
  margin: 0 0 20px 0;
  position: relative;
  padding: 0 0 0 50px;
}
.main__list li:last-child{
  margin: 0;
}
.main__list li::before{
  content: '';
  background: url(../img/icons/3.svg) 0 0 no-repeat;
  position: absolute;
  top: -14px;
  left: 0;
  height: 38px;
  width: 30px;
}
.main__img {
  text-align: center;
  justify-content: center;
  margin: 75px 0 75px 0;
  padding: 0 25px;
}
.main__img img {
  max-width: 100%;
  border-radius: 25PX;
}
.main__battleship{
  font-size: 30px;
  color: #bb2c2c;
  text-align: center;
}
.footer {
  min-height: 30px;
  text-align: center;
  font-style: italic;
}

.flex__row {
  display: flex;
  margin: 50px -15px;
}
.flex__item {
  flex: 1 1 33.333%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.item__title {
  margin: 0 0 25px 0;
  color: #000;
  text-align: center;
  font-weight: 700;
}
.item__text {
  margin: 0 0 25px 0;
  padding: 0 10px;
  flex: 1 1 auto;
}
.item__img {
  padding: 0 0 50% 0;
  overflow: hidden;
  position: relative;
}
.item__img img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
